<!-- <form action="" [formGroup]="QuestionFG">
	<h1 class="is-size-3">Visual Test: Querstion</h1>
	<br>
	<ul formArrayName="QuestionArr">
		<li *ngFor="let questions of getQuestionArr(QuestionFG); let i=index">
			<h3 class="is-size-4">{{i+1}}. {{questions.get('question').value}}</h3>
			<div [formGroupName]="i">
				<ul class="columns is-mobile" formArrayName="ChoiceArr">
					<li *ngFor="let choices of getChoiceArr(questions); let j=index;" class="column">
						<div [formGroupName]="j" class="card is-shady">
							<div class="card-image">
								<figure class="image is-2by1">
									<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
								</figure>
							</div>
							<div class="card-content control">
								<label for="{{i+1}}.{{j+1}}" class="tag radio" 
								[ngClass]="{'is-primary':choices.value.isSelect, 'is-light': !choices.value.isSelect}">
									<input type="radio" name="isSlect{{i+1}}" (click)="setIsSelected(j, questions)" id="{{i+1}}.{{j+1}}">&nbsp;
									{{i+1}}.{{j+1}} {{choices.get('choice').value}}
								</label>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<hr class="is-dashed">
		</li>
	</ul>

	<div class="field is-grouped is-grouped-right">
		<p class="control">
			<button type="button" (click)="onSubmit()" class="button is-link">
				Submit
			</button>
		</p>
		<p class="control">
			<a class="button is-light">
				Cancel
			</a>
		</p>
	</div>
</form> -->

<form action="" [formGroup]="QuestionFG">
	<p class="title is-3 is-spaced">Visual Test: Querstion</p>

	<br>

	<div formArrayName="QuestionArr">
		<div *ngFor="let questions of getQuestionArr(QuestionFG); let i=index">

			<!-- <div class="tile is-ancestor"> -->
			<div class="columns is-variable bd-klmn-columns is-2" [formGroupName]="i">

				<div class="column is-6">
					<div class="card question">
						<div class="card-image">
							<figure class="image is-5by3">
								<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
							</figure>
						</div>
						<div class="card-content">
							<h3 class="is-size-4">{{i+1}}. {{questions.get('question').value}}</h3>
						</div>
					</div>
				</div>

				<div class="column is-6" formArrayName="ChoiceArr">

					<div class="columns is-gapless is-multiline is-mobile">
						<div class="column is-one-third" *ngFor="let choices of getChoiceArr(questions); let j=index;">
							<label for="{{i+1}}.{{j+1}}" class="choice">
								<div [formGroupName]="j" class="card is-shady" 
								[ngClass]="{'is-select':choices.value.isSelect, 'unselect': !choices.value.isSelect}">
									<div class="card-image">
										<figure class="image">
											<img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
										</figure>
									</div>
									<div class="card-content control">
										<!-- [ngClass]="{'is-primary':choices.value.isSelect, 'is-light': !choices.value.isSelect}" -->
										<input type="radio" name="isSlect{{i+1}}" (click)="setIsSelected(j, questions)" id="{{i+1}}.{{j+1}}">&nbsp;
										{{i+1}}.{{j+1}}
										{{choices.get('choice').value}}
									</div>
								</div>
							</label>
						</div>
					</div>

				</div>
			</div>
			<!-- </div> -->

			<hr class="is-dashed">

		</div>
	</div>

	<div class="field is-grouped is-grouped-centered">
		<p class="control">
			<button type="button" (click)="onSubmit()" class="button is-link">
				Submit
			</button>
		</p>
		<p class="control">
			<a class="button is-white">
				Cancel
			</a>
		</p>
	</div>

</form>