<h1 class="is-size-3">Visual Test: Result</h1>
<br>

<div class="field is-horizontal">
	<div class="field-label is-normal">
		<label class="label">ชื่อ-นามกุล :</label>
	</div>
	<div class="field-body">
		<div class="field">
			<p class="control">
				<input class="input is-static" type="text" value="นายเอชัย สมพร" readonly>
			</p>
		</div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal">
		<label class="label">สมัครตำแหน่ง :</label>
	</div>
	<div class="field-body">
		<div class="field">
			<p class="control">
				<input class="input is-static" type="text" value="Programmer" readonly>
			</p>
		</div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal">
		<label class="label">ผลทดสอบ :</label>
	</div>
	<div class="field-body">
		<div class="field is-grouped">
			<div class="tags">
				<span class="tag is-success">ผ่าน (15)</span>
				<span class="tag is-danger">ไม่ผ่าน (5)</span>
				<span class="tag is-white">จากทั้งหมด (20)</span>
			</div>
		</div>
	</div>
</div>