<h1 class="title is-3 is-spaced">Visual Test: Result</h1>
<br>

<div class="field is-horizontal">
	<div class="field-label is-normal">
		<label class="label">ชื่อ-นามกุล :</label>
	</div>
	<div class="field-body">
		<div class="field">
			<p class="control">
				<input class="input is-static" type="text" [value]="result.userId" readonly>
			</p>
		</div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal">
		<label class="label">สมัครตำแหน่ง :</label>
	</div>
	<div class="field-body">
		<div class="field">
			<p class="control">
				<input class="input is-static" type="text" value="Programmer" readonly>
			</p>
		</div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal">
		<label class="label">ชุดคำถาม :</label>
	</div>
	<div class="field-body">
		<div class="field is-grouped">
			{{result.questionSetId}}
		</div>
	</div>
</div>

<div class="field is-horizontal">
	<div class="field-label is-normal">
		<label class="label">ผลทดสอบ :</label>
	</div>
	<div class="field-body">
		<div class="field is-grouped">
			<div class="tags">
				<span class="tag is-success">ผ่าน ({{result.pass}})</span>
				<span class="tag is-danger">ไม่ผ่าน ({{result.fail}})</span>
				<span class="tag is-white">จากทั้งหมด ({{result.total}})</span>
			</div>
		</div>
	</div>
</div>