<form class="content" action="" [formGroup]="QuestionFG" #from="ngForm" (ngSubmit)="onSubmit()">
	<nav class="navbar is-fixed-top">
		<div class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item">
					<nav class="level">
						<div class="level-item">
							<div>
								<p class="heading">ชุดคำถาม</p>
								<p class="title is-3">{{QuestionFG.get('questionSet').value}}</p>
							</div>
						</div>
					</nav>
				</div>
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<nav class="level">
						<div class="level-item text-center">
							<div>
								<p class="heading">จำนวนที่เลือก</p>
								<p class="title">{{choiceYourChoose || 0}} of {{getQuestionArr(QuestionFG).length}}</p>
							</div>
						</div>
					</nav>
				</div>
				<div class="navbar-item">
					<nav class="level">
						<div class="level-item text-center">
							<div>
								<p class="heading">เวลาคงเหลือ</p>
								<p class="title">
									<countdown [config]="{leftTime: timeOutMinutes}">$!m!:$!s!</countdown>
								</p>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</nav>

	<div class="container is-fluid">
		<div style="margin: 6rem 0 3rem 0;">
			<div *ngIf="!isFinished" class="steps" id="stepsDemo">
				<div #stepsContent class="steps-content" formArrayName="QuestionArr">
					<div *ngFor="let questions of getQuestionArr(QuestionFG); let i=index" class="animated fadeInRight step-content has-text-centered"
					 [ngClass]="{'is-active': i==0}">

						<h2 class="is-size-2 has-text-left">{{i+1}}. {{questions.get('question').value}}</h2>

						<div class="columns is-variable bd-klmn-columns is-2" [formGroupName]="i">
							<div class="column"></div>
							<div class="column is-5">
								<figure class="image is-5by3">
									<img [src]="questions.get('img').value || 'https://bulma.io/images/placeholders/1280x960.png'" alt="Placeholder image">
								</figure>
							</div>
							<div class="column">
							</div>
						</div>

						<hr class="is-dashed">

						<div class="row">
							<div class="col-md-6 b-r">
								<div class="row">
									<div class="col-md-4" *ngFor="let choices of getChoiceArr(questions); let j1=index">
										<div class="ibox">
											<div class="ibox-content product-box">
												<div class="product-imitation">
													<img max-width="220px" max-height="220px" [src]="choices.get('img').value || 'https://bulma.io/images/placeholders/480x480.png'"
													 alt="Placeholder image">
												</div>
												<h3>{{i+1}}.{{j1+1}}</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="row" *ngFor="let choices of getChoiceArr(questions); let j=index;">
									<div class="col-xs-12 has-text-left">
										<div class="field m-b-md">
											<input class="is-checkradio is-large" type="radio" name="isSlect{{i+1}}" (click)="setIsSelected(j, questions)"
											 id="{{i+1}}.{{j+1}}">
											<label for="{{i+1}}.{{j+1}}">{{i+1}}.{{j+1}} {{choices.get('choice').value}}</label>
										</div>

									</div>
								</div>
							</div>
						</div>

						<hr class="is-dashed">
					</div>
				</div>


				<div class="steps-actions">
					<div class="steps-action">
						<a *ngIf="showPreviousButton" href="javaScript:void(0);" data-nav="previous" class="btn btn-default" (click)="onPreviousStep()">ย้อนกลับ</a>
					</div>
					<div class="steps-action">
						<a *ngIf="showNextButton && (choiceYourChoose != getQuestionArr(QuestionFG).length)" 
						href="javaScript:void(0);" data-nav="next" class="btn btn-default" (click)="onNextStep()">ถัดไป</a>
						<button #btnSubmit *ngIf="choiceYourChoose == getQuestionArr(QuestionFG).length" type="submit" class="btn btn-success">
							ส่งแบบทดสอบ
						</button>
					</div>
				</div>
			</div>

			<div *ngIf="isFinished" style="padding-top: 3rem;" class="animated fadeInRight has-text-centered">
				<h2>ส่งแบบทดสอบสำเร็จ!</h2>
				<h4>รอยืนยันการนัดสัมภาษณ์งาน ทางบริษัทจะส่งรายละเอียดแนบไปทางอีเมลของผู้สมัคร.</h4>
			</div>
		</div>
	</div>
</form>