<form action="" [formGroup]="QuestionFG" #from="ngForm" (ngSubmit)="onSubmit()">
	<nav class="navbar is-transparent is-fixed-top">
		<div id="navbarExampleTransparentExample" class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item">
					<nav class="level">
						<div class="level-item">
							<div>
								<p class="heading">Question Set</p>
								<p class="title is-4">{{QuestionFG.get('questionSet').value}}</p>
							</div>
						</div>
					</nav>
				</div>
			</div>

			<div class="navbar-end">
				<div class="navbar-item">
					<nav class="level">
						<div class="level-item">
							<div>
								<p class="heading">Your choose</p>
								<p class="title">{{choiceYourChoose || 0}} of {{getQuestionArr(QuestionFG).length}}</p>
							</div>
						</div>
					</nav>
				</div>
				<div class="navbar-item">
					<nav class="level">
						<div class="level-item has-text-centered">
							<div>
								<p class="heading">Time out</p>
								<p class="title">
									<countdown [config]="{leftTime: timeOutMinutes}">$!m!:$!s!</countdown>
								</p>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</nav>

	<div class="container is-fluid">
		<div style="margin: 4.5rem 0 3.5rem 0;">
			<div *ngIf="!isFinished" class="steps" id="stepsDemo">
				<div #stepsContent class="steps-content" formArrayName="QuestionArr">
					<div *ngFor="let questions of getQuestionArr(QuestionFG); let i=index" class="animated fadeInRight step-content has-text-centered"
					 [ngClass]="{'is-active': i==0}">

						<h3 class="is-size-4 has-text-left">{{i+1}}. {{questions.get('question').value}}</h3>

						<div class="columns is-variable bd-klmn-columns is-2" [formGroupName]="i">
							<div class="column"></div>
							<div class="column is-5">
								<div class="card question">
									<div class="card-image">
										<figure class="image is-5by3">
											<img [src]="questions.get('img').value || 'https://bulma.io/images/placeholders/1280x960.png'" alt="Placeholder image">
										</figure>
									</div>
								</div>
							</div>
							<div class="column">
							</div>
						</div>

						<hr class="is-dashed">

						<div class="columns">
							<div class="column ">
								<div class="columns is-gapless is-multiline is-mobile">
									<div class="column is-one-third" *ngFor="let choices of getChoiceArr(questions); let j1=index">
										<div class="card is-shady">
											<div class="card-image">
												<figure class="image">
													<img max-width="220px" max-height="220px" [src]="choices.get('img').value || 'https://bulma.io/images/placeholders/480x480.png'"
													 alt="Placeholder image">
												</figure>
											</div>
											<div style="padding: .1rem" class="card-content control has-text-centered">
												{{i+1}}.{{j1+1}}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="is-divider-vertical" data-content="CHOICES"></div>
							<div class="column">
								<div class="columns" *ngFor="let choices of getChoiceArr(questions); let j=index;">
									<div class="column has-text-left">
										<div class="field">
											<input class="is-checkradio" type="radio" name="isSlect{{i+1}}" (click)="setIsSelected(j, questions)" id="{{i+1}}.{{j+1}}">
											<label for="{{i+1}}.{{j+1}}">{{i+1}}.{{j+1}} {{choices.get('choice').value}}</label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<hr class="is-dashed">
					</div>

				</div>
				<div class="steps-actions">
					<div class="steps-action">
						<a *ngIf="showPreviousButton" href="javaScript:void(0);" data-nav="previous" class="button is-light" (click)="onPreviousStep()">Previous</a>
					</div>
					<div class="steps-action">
						<a *ngIf="showNextButton" href="javaScript:void(0);" data-nav="next" class="button is-light" (click)="onNextStep()">Next</a>
						<button #btnSubmit *ngIf="choiceYourChoose == getQuestionArr(QuestionFG).length" type="submit" class="button is-link">
							Submit
						</button>
					</div>
				</div>
			</div>

			<div *ngIf="isFinished" class="animated fadeInRight has-text-centered">
				<h3 class="title is-3">Your testing is finished!</h3>
				<h2 class="subtitle">wait for confirmation that you have been appointment for an interview on your email.</h2>
			</div>
		</div>
	</div>
</form>