<form action="" [formGroup]="QuestionFG" #from="ngForm" (ngSubmit)="onSave()">

	<h1 class="title is-3 is-spaced">Visual Test: Manage</h1>

	<div class="card">
		<header class="card-header">
			<p class="card-header-title is-uppercase is-size-5 has-text-weight-bold">
				Question :
			</p>
		</header>
		<div class="card-content">
			<div class="content">

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label has-text-weight-semibold">Question type:</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<div class="select is-fullwidth">
									<select formControlName="questionType" required>
										<option value="1">IQ test</option>
										<option value="2">Career test</option>
									</select>
								</div>
								<!-- <input class="input" formControlName="questionType" type="text"> -->
							</div>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label has-text-weight-semibold">Question :</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<input class="input" formControlName="question" type="text" required>
							</div>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label has-text-weight-semibold">Image :</label>
					</div>
					<div class="field-body">
						<div class="field is-grouped">
							<div class="control">
								<img #imgQuestion [src]="QuestionFG.get('img').value || 'https://bulma.io/images/placeholders/1280x960.png'" alt="" height="280px" width="280px">
								<div class="file has-name is-fullwidth">
									<label class="file-label">
										<input class="file-input" type="file" name="question" (change)="changeQuestionImg($event, imgQuestion)">
										<span class="file-cta">
											<span class="file-icon">
												<i class="fas fa-upload"></i>
											</span>
											<span class="file-label">
												Choose a file…
											</span>
										</span>
										<span class="file-name">{{QuestionFG.get('imgName').value}}</span>
									</label>
								</div>
							</div>
							<div class="control">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="card">
		<header class="card-header">
			<p class="card-header-title is-uppercase is-size-5 has-text-weight-bold">
				Choice :
			</p>
		</header>
		<div class="card-content">
			<div class="content">
				<div formArrayName="choice">
					<div *ngFor="let choices of choice.controls; let i=index">
						<div [formGroupName]="i">
							<div class="field is-horizontal">
								<div class="field-label is-normal">
									<label class="label has-text-weight-semibold">Choice No :</label>
								</div>
								<div class="field-body">
									<div class="field">
										<p class="control">
											<input class="input is-static" type="email" value="{{i+1}}" readonly>
										</p>
									</div>
								</div>
							</div>

							<div class="field is-horizontal">
								<div class="field-label is-normal">
									<label class="label has-text-weight-semibold">Choice :</label>
								</div>
								<div class="field-body">
									<div class="field">
										<div class="control">
											<input class="input" formControlName="choice" type="text" required>
										</div>
									</div>
								</div>
							</div>

							<div class="field is-horizontal">
								<div class="field-label is-normal">
									<label class="label has-text-weight-semibold">Image :</label>
								</div>
								<div class="field-body">
									<div class="field is-grouped">
										<div class="control">
											<img [src]="choices.get('img').value || 'https://bulma.io/images/placeholders/1280x960.png'" alt="" height="280px"
											 width="280px">
											<div class="file has-name is-fullwidth">
												<label class="file-label">
													<input class="file-input" type="file" [name]="'img'+i" (change)="changeChoiceImg($event, i)">
													<span class="file-cta">
														<span class="file-icon">
															<i class="fas fa-upload"></i>
														</span>
														<span class="file-label">
															Choose a file…
														</span>
													</span>
													<span class="file-name">{{choices.get('imgName').value}}</span>
												</label>
											</div>
										</div>
										<div class="control">
										</div>
									</div>
								</div>
							</div>

							<div class="field is-horizontal">
								<div class="field-label">
								</div>
								<div class="field-body">
									<div class="field">
										<button type="button" class="button is-danger is-small" (click)="removeChoice(i)">
											<span>Remove Choice</span>
											<span class="icon is-small">
												<i class="fas fa-times"></i>
											</span>
										</button>
									</div>
								</div>
							</div>
						</div>
						<hr class="is-dashed">
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label">
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<button type="button" class="button is-small is-primary" (click)="addNewChoice()">Add Choice</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>

	<div class="card">
		<header class="card-header">
			<p class="card-header-title is-uppercase is-size-5 has-text-weight-bold">
				Answer :
			</p>
		</header>
		<div class="card-content">
			<div class="content">
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label has-text-weight-semibold">Answer :</label>
					</div>
					<div class="field-body">
						<div class="field is-narrow">
							<div class="control">
								<div class="select is-fullwidth">
									<select formControlName="answer" required>
										<option *ngFor="let item of Answer;" [value]="item.value">{{item.text}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<hr class="is-dashed">

	<div class="field is-horizontal">
		<div class="field-label">
		</div>
		<div class="field-body">
			<div class="field is-grouped">
				<div class="control">
					<button type="submit" class="button is-link">Save</button>
				</div>
				<div class="control">
					<button type="button" class="button is-text" (click)="resetForm()">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</form>