<div class="container">

	<form action="" [formGroup]="QuestionFG" #f="ngForm" (ngSubmit)="onSave(f.value)">

		<h1 class="title is-3 is-spaced">Visual Test: Manage</h1>

		<!-- <h1>Visual Test: Manage</h1> -->

		<div class="card">
			<header class="card-header">
				<p class="card-header-title is-uppercase is-size-5 has-text-weight-bold">
					Question set
				</p>
			</header>
			<div class="card-content">
				<div class="columns is-multiline">
					<div class="column is-three-quarters">
						<div class="field is-horizontal">
							<div class="field-label is-normal">
								<label class="label has-text-weight-semibold">
									Set : <span class="is-require">*</span>
								</label>
							</div>
							<div class="field-body">
								<div class="field">
									<div class="control">
										<input class="input" formControlName="questionSet" type="text" required>
									</div>
								</div>
							</div>
						</div>
						<div class="field is-horizontal">
							<div class="field-label is-normal">
								<label class="label has-text-weight-semibold">
									Time out : <span class="is-require">*</span>
								</label>
							</div>
							<div class="field-body">
								<div class="field">
									<div class="control has-icons-right">
										<input class="input" formControlName="timeOut" type="number" required>
										<span class="icon is-medium is-right">
											min
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column">
						<button type="button" class="button is-primary" (click)="onCreateQuestion();" [disabled]="QuestionFG.get('questionSet').invalid && QuestionFG.get('timeOut').invalid">
							<i class="fas fa-plus-circle fa-spin"></i>&nbsp;New question
						</button>
					</div>
				</div>

				<div class="is-divider" data-content="- O -"></div>

				<table class="table is-striped is-narrow is-fullwidth">
					<thead>
						<tr>
							<th>No.</th>
							<th>Question</th>
							<th>Image Name</th>
							<th>Active</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of QuestionList; let i=index;">
							<td>{{i+1}}</td>
							<td>{{item.question}}</td>
							<td>{{item.imgName}}</td>
							<td [ngSwitch]="item.isActive">
								<div class="field">
									<input [id]="'isActive'+i" type="checkbox" class="switch is-rounded" [checked]="item.isActive == 1 ? 'checked' : ''"
									 (change)="onActiveQuestion(item.isActive, i, item.id, $event)">
									<label [for]="'isActive'+i"></label>
								</div>
							</td>
							<td>
								<a (click)="onEditQuestion(item.id)" class="button is-small is-link is-outlined">
									Edit
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<br>

		<article formGroupName="question" *ngIf="isNewQeustion" class="message is-link is-shady">
			<div class="message-header">
				<p></p>
				<a class="delete" (click)="onCloseQuestion()"></a>
			</div>
			<div class="content message-body">
				<h2 class="question-title">Question</h2>
				<div class="columns is-multiline">
					<div class="column is-half">
						<div class="field is-horizontal">
							<div class="field-label is-normal">
								<label class="label has-text-weight-semibold">
									Question : <span class="is-require">*</span>
								</label>
							</div>
							<div class="field-body">
								<div class="field">
									<div class="control">
										<input #questionInput class="input" formControlName="question" type="text" required>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-half">
						<div class="field is-horizontal">
							<div class="field-label is-normal">
								<label class="label has-text-weight-semibold">Image :</label>
							</div>
							<div class="field-body">
								<div class="field is-grouped">
									<div class="control">
										<label for="questionfileimg" class="find-img">
											<img [src]="question.get('img').value || 'https://bulma.io/images/placeholders/1280x960.png'" alt="" height="280px"
											 width="280px">
											<span>{{question.get('imgName').value || 'Choose a image ...'}}</span>
										</label>
										<input id="questionfileimg" class="file-input" type="file" (change)="changeQuestionImg($event)" hidden>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="is-divider" data-content="- O -"></div>

				<h2 class="question-title">Choices</h2>
				<div formArrayName="choice">
					<div class="" *ngFor="let choices of choice.controls; let i=index">
						<div class="columns is-multiline is-mobile section-choice" [formGroupName]="i">

							<div class="column is-four-fifths">
								<div class="tags has-addons">
									<span class="tag is-danger">Choice no. : {{choices.get('answerChoice').value}}</span>
									<a class="tag is-delete" (click)="onDelChoice(i)"></a>
								</div>
							</div>

							<div class="column is-half">

								<div class="field is-horizontal">
									<div class="field-label is-normal">
										<label class="label has-text-weight-semibold">
											Choice : <span class="is-require">*</span>
										</label>
									</div>
									<div class="field-body">
										<div class="field">
											<div class="control">
												<input class="input" formControlName="choice" type="text" required>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="column is-half">
								<div class="field is-horizontal">
									<div class="field-label is-normal">
										<label class="label has-text-weight-semibold">Image :</label>
									</div>

									<div class="field-body">
										<div class="field is-grouped">
											<div class="control">
												<label [for]="'choicefileimg'+i" class="find-img">
													<img [src]="choices.get('img').value || 'https://bulma.io/images/placeholders/1280x960.png'" alt="" height="220px"
													 width="220px">
													<span>{{choices.get('imgName').value || 'Choose a image ...'}}</span>
												</label>
												<input [id]="'choicefileimg'+i" class="file-input" type="file" [name]="'img'+i" (change)="changeChoiceImg($event, i)"
												 hidden>
											</div>
											<div class="control">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <div style="margin-left: 6rem" class="is-divider" data-content="-- o --"></div> -->

					</div>

					<a class="button is-small is-primary" (click)="addNewChoice()">
						<i class="fas fa-plus-circle fa-spin"></i>&nbsp;Add Choice
					</a>
				</div>

				<div class="is-divider" data-content="- O -"></div>

				<h2 class="question-title">Answer</h2>
				<div class="columns is-multiline">
					<div class="column is-half">
						<div class="field is-horizontal">
							<div class="field-label is-normal">
								<label class="label has-text-weight-semibold">
									Answer : <span class="is-require">*</span>
								</label>
							</div>
							<div class="field-body">
								<div class="field is-narrow">
									<div class="control">
										<div class="select is-fullwidth">
											<select formControlName="answer" required>
												<option *ngFor="let item of Answer;" [value]="item.value">{{item.text}}</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</article>

		<div class="field is-grouped is-grouped-right">
			<p class="control">
				<button type="button" class="button is-text" (click)="resetQuestionForm()">Cancel</button>
			</p>
			<p class="control" [ngSwitch]="mode">
				<button *ngIf="!isNewQeustion && mode =='R'" type="button" class="button is-link" [disabled]="QuestionFG.get('questionSet').invalid && QuestionFG.get('timeOut').invalid"
				 (click)="onUpdateQuestionSet()">Save</button>
				<button *ngIf="isNewQeustion || mode == 'C'" type="submit" class="button is-link" [disabled]="QuestionFG.invalid">Save</button>
			</p>
		</div>
	</form>
</div>