<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <!-- <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a> -->
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <a [routerLinkActiveOptions]="{exact: true}" class="navbar-item" routerLinkActive="active" routerLink="/starter">
                Home
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="javaScript:void(0)">
                    Career
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a [routerLinkActiveOptions]="{exact: true}" class="navbar-item" routerLinkActive="active"
                        routerLink="/career/visual-test/question/8/1">
                        <i class="fas fa-vial"></i>&nbsp;&nbsp;Visual Test: Question
                    </a>
                    <a [routerLinkActiveOptions]="{exact: true}" class="navbar-item" routerLinkActive="active"
                        routerLink="/back-office/visual-test/manage/C/NEW">
                        <i class="fas fa-vials"></i>&nbsp;&nbsp;Visual Test: Manage
                    </a>
                    <a [routerLinkActiveOptions]="{exact: true}" class="navbar-item" routerLinkActive="active"
                        routerLink="/back-office/visual-test/question-set">
                        <i class="fas fa-list-ul"></i>&nbsp;&nbsp;Visual Test: Question Set
                    </a>
                    <a [routerLinkActiveOptions]="{exact: true}" class="navbar-item" routerLinkActive="active"
                        routerLink="/back-office/visual-test/verify/8/1">
                        <i class="fas fa-question"></i>&nbsp;&nbsp;Visual Test: Verify Answer <span class="has-text-danger">(e.g.)</span> 
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                </div>
            </div>
        </div>
    </div>
</nav>