<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-10">
		<h2>ชุดแบบทดสอบ</h2>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="index.html">หน้าหลัก</a>
			</li>
			<li class="breadcrumb-item">
				<a>แบบทดสอบ</a>
			</li>
			<li class="breadcrumb-item active">
				<strong>ชุดแบบทดสอบ</strong>
			</li>
		</ol>
	</div>
	<div class="col-lg-2">

	</div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<form action="" [formGroup]="QuestionFG" #f="ngForm" (ngSubmit)="onSave(f.value)">

		<div class="ibox ">
			<div class="ibox-title"></div>
			<div class="ibox-content float-e-margins">
				<div class="form-group row">
					<label class="col-md-2 col-form-label">
						ชุดแบบทดสอบ : <span class="is-require">*</span>
					</label>
					<div class="col-md-4">
						<input class="form-control" formControlName="questionSet" type="text" required>
					</div>
				</div>
				<div class=" row">
					<label class="col-md-2 col-form-label">
						เวลาในการทดสอบ (นาที) : <span class="is-require">*</span>
					</label>

					<div class="col-md-4">
						<input class="form-control" formControlName="timeOut" type="number" required>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-sm btn-primary" (click)="onCreateQuestion();" [disabled]="QuestionFG.get('questionSet').invalid && QuestionFG.get('timeOut').invalid">
							<i class="fa fa-plus-circle fa-spin"></i>&nbsp;สร้างคำถาม
						</button>
					</div>
				</div>

				<div class="hr-line-dashed"></div>

				<div class="row">
					<div class="col-sm-12">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th class="text-center">ลำดับ</th>
									<th>รายการคำถาม</th>
									<th>รูป</th>
									<th class="text-center">สถานะ</th>
									<th class="text-center"></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of QuestionList; let i=index;">
									<td class="text-center">{{i+1}}</td>
									<td>{{item.question}}</td>
									<td>{{item.imgName}}</td>
									<td class="text-center" [ngSwitch]="item.isActive">
										<div class="field">
											<input [id]="'isActive'+i" type="checkbox" class="switch is-medium is-rounded" [checked]="item.isActive == 1 ? 'checked' : ''"
											 (change)="onActiveQuestion(item.isActive, i, item.id, $event)">
											<label [for]="'isActive'+i"></label>
										</div>
									</td>
									<td class="text-center">
										<a (click)="onEditQuestion(item.id)" class="btn btn-xs btn-success btn-outline">
											แก้ไข
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


		<div class="ibox" formGroupName="question" *ngIf="isNewQeustion">

			<div class="ibox-title">
				<h5>สร้างคำถาม</h5>
				<div class="ibox-tools">
					<a class="close-link" (click)="onCloseQuestion()">
						<i class="fa fa-times"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content float-e-margins">
				<h2 class="question-title m-b-md">Question</h2>
				<div class="row">
					<div class="col-sm-6">
						<div class="row form-group">
							<label for="" class="col-md-3 control-label">
								คำถาม : <span class="is-require">*</span>
							</label>
							<div class="col-md-9">
								<input #questionInput class="form-control" formControlName="question" type="text" required>
							</div>
						</div>
					</div>
					<div class="col-sm-6 b-l">
						<label for="" class="col-md-3">เลือกรูป :</label>
						<div class="col-md-6">
							<div class="img-preview img-preview-md">
								<label for="questionfileimg" style="cursor: pointer;">
									<img [src]="question.get('img').value || 'https://bulma.io/images/placeholders/1280x960.png'" alt="" width="100%">
								</label>
								<input id="questionfileimg" class="file-input hidden" type="file" (change)="changeQuestionImg($event)">
							</div>
						</div>
					</div>
				</div>

				<div class="hr-line-dashed"></div>

				<h2 class="question-title">Choices</h2>
				<div formArrayName="choice">
					<div *ngFor="let choices of choice.controls; let i=index" class="animated fadeIn">
						<div class="row section-choice" [formGroupName]="i">

							<div class="col-sm-12 form-group">
								<button type="button" class="btn btn-xs btn-outline btn-danger" (click)="onDelChoice(i)">
									<i class="fa fa-times"></i>&nbsp;ลบตัวเลือกที่ {{choices.get('answerChoice').value}}
								</button>
							</div>

							<div class="col-md-6">
								<label for="" class="col-md-3 col-form-label">
									ตัวเลือกที่ {{choices.get('answerChoice').value}} : <span class="is-require">*</span>
								</label>
								<div class="col-md-9 form-group">
									<input class="form-control" formControlName="choice" type="text" required>
								</div>
							</div>
							<div class="col-md-6" style="border-left: 1px solid rgb(204, 204, 204);">
								<!--  -->
								<label for="" class="col-md-3 col-form-label">
									เลือกรูป :
								</label>
								<div class="col-md-6 form-group">
									<label [for]="'choicefileimg'+i" style="cursor: pointer;">
										<img [src]="choices.get('img').value || 'https://bulma.io/images/placeholders/1280x960.png'" alt="" width="100%">
									</label>
									<input [id]="'choicefileimg'+i" class="hidden" type="file" [name]="'img'+i" (change)="changeChoiceImg($event, i)">
								</div>
							</div>

						</div>
					</div>

					<button type="button" class="btn btn-xs btn-info" (click)="addNewChoice()">
						<i class="fa fa-plus-circle fa-spin"></i>&nbsp;เพิ่มตัวเลือก
					</button>
				</div>

				<div class="hr-line-dashed"></div>

				<h2 class="question-title m-b-md">Answer</h2>
				<div class="row">
					<label class="col-md-2">
						คำตอบ : <span class="is-require">*</span>
					</label>
					<div class="col-md-4">
						<select class="form-control" formControlName="answer" required>
							<option selected></option>
							<option *ngFor="let item of Answer;" [value]="item.value">{{item.text}}</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="row m-b-md" [ngSwitch]="mode">
			<div class="col-sm-8"></div>
			<div class="col-sm-2">
				<button type="button" class="btn btn-outline btn-default btn-block" (click)="resetQuestionForm()">ยกเลิก</button>
			</div>
			<div class="col-sm-2">
				<button *ngIf="!isNewQeustion && mode =='R'" type="button" class="btn btn-success btn-block" [disabled]="QuestionFG.get('questionSet').invalid && QuestionFG.get('timeOut').invalid"
				 (click)="onUpdateQuestionSet()">บันทึก</button>
				<button *ngIf="isNewQeustion || mode == 'C'" type="submit" class="btn btn-success btn-block" [disabled]="QuestionFG.invalid">บันทึก</button>
			</div>
		</div>

	</form>
</div>