/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700&subset=thai");
@import "assets/styles/style";

.is-require {
    color: red;
}

hr.is-dashed {
    border-top: 1px dashed #dbdbdb;
    background-color: unset;
}

table tr td {
    padding-bottom: 4px !important;
}
