/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700&subset=thai");

// @import '~ngx-toastr/toastr.css';

body {
    // background: #EFF3F4;
    // font-family: 'Kanit', sans-serif;
}

.is-require {
    color: red;
}

hr.is-dashed {
    border-top: 1px dashed #dbdbdb;
    background-color: unset;
}

table.dataTable {
    .button.is-small {
        height: 1rem !important;
    }

    .field {
        .switch[type=checkbox]+label {
            padding-top: .1rem !important;
        }

        .switch[type=checkbox]:checked+label::after {
            left: 1.925rem;
        }

        label::before {
            height: 1.3rem !important;
        }
    }
}